<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<!-- //custom-theme -->

    <link href="../css/style.css" rel="stylesheet" type="text/css" media="all" />
   <link href="../css/bootstrap.css" rel="stylesheet" type="text/css"
          media="all" />
    <!-- font-awesome-icons -->
    <link href="../css/font-awesome.css" rel="stylesheet">
<!-- //font-awesome-icons -->
<title>文章管理</title>
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="application/x-javascript">
	
	
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);
        function hideURLbar() {
            window.scrollTo(0, 1);
        }
</script>
<link href="/css/index.css" rel="stylesheet" type="text/css"
	media="all" />
</head>
<body>
<!-- banner -->
<div th:replace="manager/Mnav :: mnavbar"></div> 
   <div class="agileits_w3layouts_banner_nav">
		

		<div class="clearfix"> </div>
	</div>

	<div class="services">
		<div class="container">
			<h3 class="tittle_agile_w3">文章列表</h3>
			<ul class="agile_forms">
				
				<li><a class="agile_forms"href="#" data-toggle="modal" data-target="#myModal1">添加文章</a> </li>
				<li><a class="agile_forms" th:href="@{/manager/MyArticle}" >我的文章</a> </li>
			</ul>
			<div class="heading-underline">
				<div class="h-u1"></div><div class="h-u2"></div><div class="h-u3"></div><div class="clearfix"></div>
			</div>
			
			<div class="w3l-news_info_agile_its">
			
			<div th:each="article,iterStat : ${articleList}">
			
						<div class="media response-info">
						<div class="media-body response-text-right">
							<h5>
                            	<a th:href="@{/article/articleDetail(id=${article.id})}" th:text="${article.title}"></a>
                        	</h5>
							<ul>
								
								<li><i th:text="${article.time}" class="fa fa-calendar" aria-hidden="true"></i></li>
								<li><i th:text="${article.manager.name}"class="fa fa-user" aria-hidden="true"></i></li>
							</ul>
							<p 
							style="
							overflow : hidden;
					        text-overflow: ellipsis;
					        display: -webkit-box;
					        -webkit-line-clamp: 3;
					        -webkit-box-orient: vertical;"
					th:text="${article.text}"></p>
					<div th:th:if="${session.administrator!=null}">
							<div th:if="(${article.manager.id}==${session.administrator.id})
							or (${session.administrator.accessLevel==2})" class="read}" 
							 >
								<a href="#" class="view resw3" data-toggle="modal" th:attr="data-target='#myModal4'+${article.id}">修改</a>
								<a href="#" class="view resw3" data-toggle="modal" th:attr="data-target='#myModal5'+${article.id}">删除</a>
							
							</div>
						</div>
					</div>
						<div class="clearfix"> </div>
					</div>
											<!-- //Modal -->
											<div class="modal fade" th:id="myModal5+${article.id}" tabindex="-1" role="dialog">
														<div class="modal-dialog">
														<!-- Modal content-->
															<div class="modal-content">
																<div class="modal-header">
																	<button type="button" class="close" data-dismiss="modal">&times;</button>
																	
																	<div class="signin-form profile">
																	<h3 class="agileinfo_sign">是否删除该文章？</h3>	
																			<div class="login-form">
																				<form th:action="@{/manager/DeleteArticle}" method="post">
																					<input type="hidden" name="id" th:value=${article.id}>
																					<input type="submit" value="确定">
																				</form>
																			</div>
																			
																		</div>
																</div>
															</div>
														</div>
													</div>	
											
													<div class="modal fade" th:id="myModal4+${article.id}" tabindex="-1" role="dialog">
														<div class="modal-dialog">
														<!-- Modal content-->
															<div class="modal-content">
																<div class="modal-header">
																	<button type="button" class="close" data-dismiss="modal">&times;</button>
																	
																	<div class="signin-form profile">
																	<h3 class="agileinfo_sign">修改文章</h3>	
																			<div class="login-form">
																				<form th:action="@{/manager/UpdateArticle}" method="post">
																					<input type="hidden" name="id" th:value=${article.id}>
																				    <input type="text" name="title" placeholder="标题" required="required">
																					<textarea row="10" name="text" placeholder="文章内容" required="required"></textarea>
				                                                                    
																					<input type="submit" value="确定">
																				</form>
																			</div>
																			
																		</div>
																</div>
															</div>
														</div>
													</div>
													
				</div>
			</div>

	    </div>
	 </div>
<!-- //typo -->	
<!-- footer -->
<!-- //footer -->
<!-- menu -->
<!-- js -->

<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="js/modernizr.custom.46884.js"></script>
<!-- //js -->
	<!-- password-script -->
	<script type="text/javascript">
		window.onload = function () {
			document.getElementById("password1").onchange = validatePassword;
			document.getElementById("password2").onchange = validatePassword;
		}

		function validatePassword() {
			var pass2 = document.getElementById("password2").value;
			var pass1 = document.getElementById("password1").value;
			if (pass1 != pass2)
				document.getElementById("password2").setCustomValidity("Passwords Don't Match");
			else
				document.getElementById("password2").setCustomValidity('');
			//empty string means no validation error
		}
		//管理员删除时弹出警告
		function showDelMessage(){

		}
	</script>
	
<!-- 由session判断是否登录成功 -->
<!-- <%if (session.getAttribute("name")==null){%> -->
<script type="text/javascript">
// 	jQuery(document).ready(function($) {
// 		$("#exit").toggle( 
// 				  function () {
// 				    $(this).hide();
// 				  }
// 				);
// 	});
</script>
<!--   <%}else {%> -->
<script type="text/javascript">
// 	jQuery(document).ready(function($) {
// 		$("#login").toggle( 
// 				  function () {
// 				    $(this).hide();
// 				  }
// 				);
// 		$("#register").toggle( 
// 				  function () {
// 				    $(this).hide();
// 				  }
// 				);
// 	});
</script>
<!--   <%}%> -->
  
<!-- for bootstrap working -->
	<script src="js/bootstrap.js"></script>
<!-- //for bootstrap working -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
													<div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
														<div class="modal-dialog">
														<!-- Modal content-->
															<div class="modal-content">
																<div class="modal-header">
																	<button type="button" class="close" data-dismiss="modal">&times;</button>
																	
																	<div class="signin-form profile">
																	<h3 class="agileinfo_sign">添加文章</h3>	
																			<div class="login-form">
																				<form th:action="@{/manager/AddArticle}" method="post">
																					
																				    <input type="text" name="title" placeholder="标题" required="required">
																					
				                                                                    <textarea rows="10" name="text" placeholder="内容" required="required"></textarea>
																					<input type="submit" value="确定">
																					
																				</form>
																			</div>
																			
																		</div>
																</div>
															</div>
														</div>
													</div>											
													
</body>
</html>