<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>预约详情</title>
<!-- viewport好像是不同设备页面重构的设置 -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- //custom-theme -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css"	media="all" />
<link href="css/slicebox.css" rel="stylesheet" type="text/css">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />

<!-- font-awesome-icons -->
<link href="css/font-awesome.css" rel="stylesheet">
<!-- //font-awesome-icons -->

<link rel="stylesheet"
	href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script
	src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
</head>
<body>
	<div th:replace="home/nav :: navbar"></div>
	<!-- banner-bottom -->
	<div class="banner-bottom">
		<div class="container">
			<div class="mid_agile_bannner_top_info">
				<h2>预约单详情</h2>
				<div class="heading-underline">
					<div class="h-u1"></div>
					<div class="h-u2"></div>
					<div class="h-u3"></div>
					<div class="clearfix"></div>
				</div>



				<div class="agileits_banner_bottom_left"></div>

				<div class="row  login-center panel panel-info">
					<div class="panel-heading">
						<h3 th:if="${reservation.state==0}"
							th:text="${'提交时间：'+reservation.applicationTime+'(未受理)'}"></h3>
						<h3 th:if="${reservation.state==1}"
							th:text="${'提交时间：'+reservation.applicationTime+'(已受理，未完成)'}"></h3>
						<h3 th:if="${reservation.state==2}"
							th:text="${'提交时间：'+reservation.applicationTime+'(已完成)'}"></h3>
						<div>
							<a th:if="${reservation.state==0}"
								th:href="'/editMyReservation?reservationId='+${reservation.id}"
								class="btn btn-primary">编辑</a>
							<button class="btn btn-danger" th:if="${reservation.state==0}"
								th:onclick="'setTargetID('+${reservation.id}+')'"
								data-toggle="modal" data-target="#cancel-data" type="button">撤销</button>
							<button class="btn btn-danger" th:if="${reservation.state==1}"
								th:onclick="'setTargetID('+${reservation.id}+')'"
								data-toggle="modal" data-target="#contact-data" type="button">联系</button>
							<button class="btn btn-success" th:if="${reservation.state==2}"
								th:onclick="'setTargetID('+${reservation.id}+')'"
								data-toggle="modal" data-target="#remark-data" type="button">评价</button>
							<button class="btn btn-danger" th:if="${reservation.state==2}"
								th:onclick="'setTargetID('+${reservation.id}+')'"
								data-toggle="modal" data-target="#feedback-data" type="button">反馈</button>
						</div>
					</div>

					<div class="panel-body">

						<table class="table"   style="table-layout:fixed ; width:90%;">
							<tbody>
								<tr>
									<td align="right" width="50%"><h3>维修时间：</h3></td>
									<td align="left">
										<h3 th:text="${reservation.RequiredTime}"></h3>
										<h3 th:text="未填写" th:if="${reservation.RequiredTime==null || reservation.RequiredTime.length()<1}"></h3>
									</td>
								</tr>
								<tr>
									<td align="right"><h3>维修地点：</h3></td>
									<td align="left"><h3 th:text="${reservation.place}"></h3></td>
								</tr>
								<tr>
									<td align="right"><h3>维修设备：</h3></td>
									<td align="left">
										<h3 th:text="${reservation.equipment.equipmentName}" th:if="${reservation.equipment!=null}"></h3>
										<h3 th:text="未选择" th:if="${reservation.equipment==null}"></h3>
										</td>
								</tr>
								<tr>
									<td align="right"><h3>问题类型：</h3></td>
									<td align="left"><h3 th:text="${reservation.repairType}">${reservation.repairType}</h3></td>
								</tr>
								<tr>
									<td align="right"><h3>问题详情：</h3></td>
									<td align="left">
										<h3>
											<span th:if="${reservation.detail!=null}" th:text="${reservation.detail}"></span>
									 		<span th:if="${reservation.detail==null || reservation.detail.length()<1}" th:text="'未填写'"></span>
									 	</h3>
									 </td>
								</tr>
								<tr>
									<td></td>
									<td align="left">
									<img th:each="imgUrl : ${imgUrls}" th:src="${imgUrl.img_url}" height="240px"/>
									</td>
									</tr>
							</tbody>
						</table>

					</div>

				</div>

			</div>
		</div>
	</div>
	
	<!-- 撤销弹出窗内容 -->
	<div class="modal" id="cancel-data" tabindex="-1" role="dialog"
		aria-labelledby="mySmallModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<form id="cancelForm" role="form" action="cancelMyReservation"
					method="post" class="registration-form">
					<!-- 一个隐藏的输入，其value在按钮点击时用js修改 -->
					<input id="cancel-input-id" type="text" value="0"
						name="reservationId" style="display: none">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">×</span><span class="sr-only">Close</span>
						</button>
						<h4 class="modal-title">撤销</h4>
					</div>
					<div class="modal-body">
						<label>你确定要取消该预约单么？</label>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-danger">确定</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- 评价弹出窗内容 -->
	<div class="modal" id="remark-data" tabindex="-1" role="dialog"
		aria-labelledby="mySmallModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<form id="remarkForm" role="form" action="/remarkMyReservation"
					method="post" class="registration-form">

					<!-- 一个隐藏的输入，其value在按钮点击时用js修改 -->
					<input id="remark-input-id" type="text" value="0"
						name="reservationId" style="display: none">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">×</span><span class="sr-only">Close</span>
						</button>
						<h4 class="modal-title">评价</h4>
					</div>
					<div class="modal-body">
						<textarea class="form-control" rows="3" name="remarkText" placeholder="我觉得本次维修..."></textarea>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="submit" class="btn btn-primary">提交</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- 联系弹出窗内容 -->
	<div class="modal" id="contact-data" tabindex="-1" role="dialog"
		aria-labelledby="mySmallModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">×</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title">联系</h4>
				</div>
				<div class="modal-body">
					<label>该订单已被管理员接收，有问题请联系邮箱: fzuxiuxiuxiu@163.com</label>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>
	</div>

	<!-- 反馈弹出窗内容 -->
	<div class="modal" id="feedback-data" tabindex="-1" role="dialog"
		aria-labelledby="mySmallModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<form id="feedBackForm" role="form" action="feedbackMyReservation"
					method="post" class="registration-form">
					<!-- 一个隐藏的输入，其value在按钮点击时用js修改 -->
					<input id="feedback-input-id" type="text" value="0"
						name="reservationId" style="display: none">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">×</span><span class="sr-only">Close</span>
						</button>
						<h4 class="modal-title">反馈问题</h4>
					</div>
					<div class="modal-body">
						<textarea class="form-control" rows="3" name="feedbackTxet" placeholder="我觉得本次维修..."></textarea>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="submit" class="btn btn-danger">提交</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	


	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop : $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			    var defaults = {
			    containerID: 'toTop', // fading element id
			    containerHoverID: 'toTopHover', // fading element hover id
			    scrollSpeed: 1200,
			    easingType: 'linear' 
			    };
			 */

			$().UItoTop({
				easingType : 'easeOutQuart'
			});

		});
	</script>
	<!-- //here ends scrolling icon -->

	<a href="#" id="toTop" style="display: none;"><span id="toTopHover"></span>To
		Top</a>
</body>
</html>