<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>预约详情</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="">
<link href="../css/index.css" rel="stylesheet" type="text/css">

</head>
<body>
	<div th:replace="home/nav :: navbar"></div>
	<!-- banner-bottom -->
	<div class="banner-bottom">
		<div class="container">
			<div class="mid_agile_bannner_top_info">
				<h2>预约单详情</h2>
				<div class="heading-underline">
					<div class="h-u1"></div>
					<div class="h-u2"></div>
					<div class="h-u3"></div>
					<div class="clearfix"></div>
				</div>
				<!-- 两边留白 -->

				<div class="wrapper">
					<div class="agileits_banner_bottom_left">
						<h4>
							<span style="margin: 0 20px">问题类型：</span>
							<span th:text="${reservation.repairType}">${reservation.repairType}</span>
						</h4>
						<br>
						<h4>
							<span style="margin: 0 20px">内容：</span>
							<span th:text="${reservation.detail}">${reservation.detail}</span>
						</h4>
					</div>
					<div class="clearfix"></div>
				</div>

			

				<div class="agileits_banner_bottom_left">

					<h3 th:if="${reservation.state==0}" th:text="${reservation.}"></h3>

				</div>
				
				<div class="clearfix"></div>
				<div class="row  login-center">
					<div class="panel-heading">
						<h3 th:if="${reservation.state==0}" class="panel-title"
							th:text="${reservation.applicationTime+'(未受理)'}"></h3>
						<h3 th:if="${reservation.state==1}" class="panel-title"
							th:text="${reservation.applicationTime+'(已受理，未完成)'}"></h3>
						<h3 th:if="${reservation.state==2}" class="panel-title"
							th:text="${reservation.applicationTime+'(已完成)'}"></h3>
						<div>
							<a th:if="${reservation.state==0}"
								th:href="'/editMyReservation?reservationId='+${reservation.id}"
								class="btn btn-primary">编辑</a>
							<button class="btn btn-danger" th:if="${reservation.state==0}"
								th:onclick="'setTargetID('+${reservation.id}+')'"
								data-toggle="modal" data-target="#cancel-data" type="button">撤销</button>
							<button class="btn btn-danger" th:if="${reservation.state==1}"
								th:onclick="'setTargetID('+${reservation.id}+')'"
								data-toggle="modal" data-target="#contact-data" type="button">联系</button>
							<button class="btn btn-success" th:if="${reservation.state==2}"
								th:onclick="'setTargetID('+${reservation.id}+')'"
								data-toggle="modal" data-target="#remark-data" type="button">评价</button>
							<button class="btn btn-danger" th:if="${reservation.state==2}"
								th:onclick="'setTargetID('+${reservation.id}+')'"
								data-toggle="modal" data-target="#feedback-data" type="button">反馈</button>
							<a
								th:href="'/myReservationDetail?reservationId='+${reservation.id}"
								class="btn btn-info">详情</a>
						</div>
					</div>
				</div>
				
					<!-- 轮播 -->
				<div class="banner">
					<ul id="sb-slider" class="sb-slider" style="max-width: 1680px;">
						<li><img id="errorImg" src="images/banner2.jpg" alt="image2">
							<div class="sb-description">
								<h4>问题图片</h4>
							</div></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
	
	<!-- js for portfolio lightbox -->
	<script src="js/jquery.chocolat.js "></script>
	<!-- for bootstrap working -->
	<script src="js/bootstrap.js"></script>
	<!-- //for bootstrap working -->
	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop : $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			    var defaults = {
			    containerID: 'toTop', // fading element id
			    containerHoverID: 'toTopHover', // fading element hover id
			    scrollSpeed: 1200,
			    easingType: 'linear' 
			    };
			 */

			$().UItoTop({
				easingType : 'easeOutQuart'
			});

		});
	</script>
	<!-- //here ends scrolling icon -->

	<a href="#" id="toTop" style="display: none;"><span id="toTopHover"></span>To
		Top</a>
</body>
</html>