<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
		<div class="modal" id="reservationDetail-data" tabindex="-1"
			role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">×</span><span class="sr-only">Close</span>
						</button>
						<h4 class="modal-title">预约单详情</h4>
					</div>
					<div class="modal-body">

						<div class="mid_agile_bannner_top_info">
							<h2>预约单详情</h2>
							<div class="heading-underline">
								<div class="h-u1"></div>
								<div class="h-u2"></div>
								<div class="h-u3"></div>
								<div class="clearfix"></div>
							</div>

							<div class="agileits_banner_bottom_left"></div>

							<div class="row  login-center panel panel-info"
								th:if="${ reservation!=null}">
								<div class="panel-heading">
									<h3 th:if="${reservation.state==0}"
										th:text="${'提交时间：'+reservation.applicationTime+'(未受理)'}"></h3>
									<h3 th:if="${reservation.state==1}"
										th:text="${'提交时间：'+reservation.applicationTime+'(已受理，未完成)'}"></h3>
									<h3 th:if="${reservation.state==2}"
										th:text="${'提交时间：'+reservation.applicationTime+'(已完成)'}"></h3>
									<div>
										<a th:if="${reservation.state==0}"
											th:href="'/editMyReservation?reservationId='+${reservation.id}"
											class="btn btn-primary">编辑</a>
										<button class="btn btn-danger" th:if="${reservation.state==0}"
											th:onclick="'setTargetID('+${reservation.id}+')'"
											data-toggle="modal" data-target="#cancel-data" type="button">撤销</button>
										<button class="btn btn-danger" th:if="${reservation.state==1}"
											th:onclick="'setTargetID('+${reservation.id}+')'"
											data-toggle="modal" data-target="#contact-data" type="button">联系</button>
										<button class="btn btn-success"
											th:if="${reservation.state==2}"
											th:onclick="'setTargetID('+${reservation.id}+')'"
											data-toggle="modal" data-target="#remark-data" type="button">评价</button>
										<button class="btn btn-danger" th:if="${reservation.state==2}"
											th:onclick="'setTargetID('+${reservation.id}+')'"
											data-toggle="modal" data-target="#feedback-data"
											type="button">反馈</button>
									</div>
								</div>

								<div class="panel-body">

									<table class="table" style="table-layout: fixed; width: 90%;">
										<tbody>
											<tr>
												<td align="right" width="50%"><h3>维修时间：</h3></td>
												<td align="left">
													<h3 th:text="${reservation.RequiredTime}"></h3>
													<h3 th:text="未填写"
														th:if="${reservation.RequiredTime==null || reservation.RequiredTime.length()<1}"></h3>
												</td>
											</tr>
											<tr>
												<td align="right"><h3>维修地点：</h3></td>
												<td align="left"><h3 th:text="${reservation.place}"></h3></td>
											</tr>
											<tr>
												<td align="right"><h3>维修设备：</h3></td>
												<td align="left">
													<h3 th:text="${reservation.equipment.equipmentName}"
														th:if="${reservation.equipment!=null}"></h3>
													<h3 th:text="未选择" th:if="${reservation.equipment==null}"></h3>
												</td>
											</tr>
											<tr>
												<td align="right"><h3>问题类型：</h3></td>
												<td align="left"><h3
														th:text="${reservation.repairType}">${reservation.repairType}</h3></td>
											</tr>
											<tr>
												<td align="right"><h3>预约零件：</h3></td>
												<td align="left" th:if="${components.length()>1}"><h3
														th:text="${components}"></h3></td>
												<td align="left" th:unless="${components.length()>1}"><h3
														th:text="'未选择'"></h3></td>
											</tr>

											<tr>
												<td align="right"><h3>问题详情：</h3></td>
												<td align="left">
													<h3>
														<span th:if="${reservation.detail!=null}"
															th:text="${reservation.detail}"></span> <span
															th:if="${reservation.detail==null || reservation.detail.length()<1}"
															th:text="'未填写'"></span>
													</h3>
												</td>
											</tr>
											<tr>
												<td></td>
												<td align="left"><img th:each="imgUrl : ${imgUrls}"
													th:src="${imgUrl.img_url}" height="140px" /></td>
											</tr>
										</tbody>
									</table>

								</div>
								<!-- end panel-body -->

							</div>
							<!-- end panel -->

						</div>
					</div>
				</div>
			</div>
		</div>





		<script type="text/javascript" src="js/move-top.js"></script>
		<script type="text/javascript" src="js/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event) {
					event.preventDefault();
					$('html,body').animate({
						scrollTop : $(this.hash).offset().top
					}, 1000);
				});
			});
		</script>
		<!-- start-smoth-scrolling -->
		<!-- here stars scrolling icon -->
		<script type="text/javascript">
			$(document).ready(function() {
				/*
				    var defaults = {
				    containerID: 'toTop', // fading element id
				    containerHoverID: 'toTopHover', // fading element hover id
				    scrollSpeed: 1200,
				    easingType: 'linear' 
				    };
				 */

				$().UItoTop({
					easingType : 'easeOutQuart'
				});

			});
		</script>
		<!-- //here ends scrolling icon -->

		<a href="#" id="toTop" style="display: none;"><span
			id="toTopHover"></span>To Top</a>
	</div>
</body>
</html>