<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>预约结果</title>
    <script type="application/x-javascript">
      addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
      }, false);

      function hideURLbar() {
        window.scrollTo(0, 1);
      }
    </script>
    <!-- //custom-theme -->
    <link href="../css/index.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div th:replace="/home/nav::navbar"></div>
    
    <!-- 主体内容：开始 -->
    <div class="services">
      <div class="container">
        <div class="alert alert-info">
          <p th:text="${message}"></p>
        </div>
        <a href="预约.jsp" class="btn btn-lg btn-primary">返回</a>
      </div>
    </div>
<!-- 	<%@include file="动态js代码.jsp"%> -->
  </body>
</html>