<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
<title>反馈</title>
<!-- custom-theme -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>

<link th:href="@{/css/index.css}" rel="stylesheet" type="text/css"> 

<link th:href="@{/css/3.3.7-bootstrap.min.css}" rel="stylesheet" type="text/css"> 
<script th:src="@{/js/my/2.1.1-jquery.min.js}"></script>
<script th:src="@{/js/my/3.3.7-bootstrap.min.js}"></script>	
</head>

<body>
  <div th:replace="home/nav :: navbar"></div> 
	
	<div class="services">
		<div class="container">
			 <h3 class="tittle_agile_w3">联系我们</h3>
		    <div class="heading-underline">
				<div class="h-u1"></div><div class="h-u2"></div><div class="h-u3"></div><div class="clearfix"></div>
			</div>
			
			<div class="agileinfo_mail_grids">
				<form th:action="@{/sendcontact}" method="post">
					<span class="input input--chisato">
						<input class="input__field input__field--chisato" name="Name" type="text" id="Name" placeholder=" 姓名" required="" />
						<label class="input__label input__label--chisato" for="input-13">
							<span class="input__label-content input__label-content--chisato" data-content="姓名"></span>
						</label>
					</span>
					<span class="input input--chisato">
						<input class="input__field input__field--chisato" name="Email" type="email" id="Email" placeholder=" 邮箱" required="" />
						<label class="input__label input__label--chisato" for="input-14">
							<span class="input__label-content input__label-content--chisato" data-content="邮箱"></span>
						</label>
					</span>
					<span class="input input--chisato">
						<input class="input__field input__field--chisato" name="Subject" type="text" id="Subject" placeholder=" 邮件主题" required="" />
						<label class="input__label input__label--chisato" for="Subject">
							<span class="input__label-content input__label-content--chisato" data-content="邮件主题"></span>
						</label>
					</span>
					<textarea name="Message" placeholder="写出你的详细反馈吧..." required=""></textarea>
					<input type="submit" value="Submit">
				</form>
			</div>
		</div>
	</div>
	<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="w3_agile_footer_grids">
				<div class="col-md-4 w3_agile_footer_grid">
					<h3>地址</h3>
					<ul class="agileits_w3layouts_footer_grid_list">
						<li><i class="fa fa-angle-double-right" aria-hidden="true"></i>福州大学数计学院</li>
					</ul>
				</div>
				<div class="col-md-4 w3_agile_footer_grid">
					<h3>号码</h3>
					<ul class="agileits_w3layouts_footer_grid_list">
						<li><i class="fa fa-angle-double-right" aria-hidden="true"></i>18868836723</li>
					</ul>
				</div>
				<div class="col-md-4 w3_agile_footer_grid">
					<h3>邮箱</h3>
					<ul class="agileits_w3layouts_footer_grid_list">
						<li><i class="fa fa-angle-double-right" aria-hidden="true"></i>fzuxiuxiuxiu@163.com</li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="agileinfo_copyright">
				<p>Copyright &copy; 2019.Xiuxiuxiu All rights reserved <a th:href="" title="" target="_blank"></a></p>
			</div>
		</div>
	</div>
	<div th:if="${err!=null}">
	<p th:text="${err}"></p>
	</div>
    <!-- js -->
    <script type="text/javascript" th:src="@{js/jquery-2.1.4.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/modernizr.custom.46884.js}"></script>
    <!-- //js -->
    <!-- password-script -->
    <script type="text/javascript">
        window.onload = function () {
            document.getElementById("password1").onchange = validatePassword;
            document.getElementById("password2").onchange = validatePassword;
        }

        function validatePassword() {
            var pass2 = document.getElementById("password2").value;
            var pass1 = document.getElementById("password1").value;
            if (pass1 != pass2)
                document.getElementById("password2").setCustomValidity("Passwords Don't Match");
            else
                document.getElementById("password2").setCustomValidity('');
            //empty string means no validation error
        }
        //管理员删除时弹出警告
        function showDelMessage(){

        }
    </script>
    <!-- //password-script -->

    <!-- for bootstrap working -->
    <script th:src="@{/js/bootstrap.js}"></script>
    <!-- //for bootstrap working -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" th:src="@{/js/move-top.js}"></script>
    <script type="text/javascript" th:src="@{/js/easing.js}"></script>
    <script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".scroll").click(function(event){     
            event.preventDefault();
            $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
    });
</script>
    <!-- start-smoth-scrolling -->
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function() {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear' 
                };
            */
                                
            $().UItoTop({ easingType: 'easeOutQuart' });
                                
            });
    </script>
    <!-- //here ends scrolling icon -->
    <div th:replace="home/messageOrErr :: messageOrErr"></div> 
</body>
</html>