<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
<title>反馈</title>
<!-- custom-theme -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //custom-theme -->

    <link href="../css/style.css" rel="stylesheet" type="text/css" media="all" />
   <link href="../css/bootstrap.css" rel="stylesheet" type="text/css"
          media="all" />
    <!-- font-awesome-icons -->
    <link href="../css/font-awesome.css" rel="stylesheet">
<!-- //font-awesome-icons -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link href="http://fonts.googleapis.com/css?family=Raleway:100i,200,200i,300,400,500,500i,600,700,700i,800,800i" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>	
</head>

<body>
  <div th:replace="home/nav :: navbar"></div> 
	
	<div class="services">
		<div class="container">
			 <h3 class="tittle_agile_w3">联系我们</h3>
		    <div class="heading-underline">
				<div class="h-u1"></div><div class="h-u2"></div><div class="h-u3"></div><div class="clearfix"></div>
			</div>
			<div class="agileinfo_mail_grids">
				<form action="/sendcontact" method="post">
					<span class="input input--chisato">
						<input class="input__field input__field--chisato" name="Name" type="text" id="Name" placeholder=" 姓名" required="" />
						<label class="input__label input__label--chisato" for="input-13">
							<span class="input__label-content input__label-content--chisato" data-content="姓名"></span>
						</label>
					</span>
					<span class="input input--chisato">
						<input class="input__field input__field--chisato" name="Email" type="email" id="Email" placeholder=" 邮箱" required="" />
						<label class="input__label input__label--chisato" for="input-14">
							<span class="input__label-content input__label-content--chisato" data-content="邮箱"></span>
						</label>
					</span>
					<span class="input input--chisato">
						<input class="input__field input__field--chisato" name="Subject" type="text" id="Subject" placeholder=" 邮件主题" required="" />
						<label class="input__label input__label--chisato" for="Subject">
							<span class="input__label-content input__label-content--chisato" data-content="邮件主题"></span>
						</label>
					</span>
					<textarea name="Message" placeholder="写出你的详细反馈吧..." required=""></textarea>
					<input type="submit" value="Submit">
				</form>
			</div>
		</div>
	</div>
	<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="w3_agile_footer_grids">
				<div class="col-md-4 w3_agile_footer_grid">
					<h3>地址</h3>
					<ul class="agileits_w3layouts_footer_grid_list">
						<li><i class="fa fa-angle-double-right" aria-hidden="true"></i>福州大学数计学院</li>
					</ul>
				</div>
				<div class="col-md-4 w3_agile_footer_grid">
					<h3>号码</h3>
					<ul class="agileits_w3layouts_footer_grid_list">
						<li><i class="fa fa-angle-double-right" aria-hidden="true"></i>18868836723</li>
					</ul>
				</div>
				<div class="col-md-4 w3_agile_footer_grid">
					<h3>邮箱</h3>
					<ul class="agileits_w3layouts_footer_grid_list">
						<li><i class="fa fa-angle-double-right" aria-hidden="true"></i>fzuxiuxiuxiu@163.com</li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="agileinfo_copyright">
				<p>Copyright &copy; 2019.Xiuxiuxiu All rights reserved <a href="" title="" target="_blank"></a></p>
			</div>
		</div>
	</div>
<!-- 		<div class="services"> -->
<!-- 		<div class="container"> -->
<!-- 				<div class="w3ls_address_mail_footer_grids"> -->
<!-- 				<div class="col-md-4 w3ls_footer_grid_left con"> -->
<!-- 					<div class="wthree_footer_grid_left"> -->
<!-- 						<i class="fa fa-map-marker" aria-hidden="true"></i> -->
<!-- 					</div> -->
<!-- 					<p>3481 Melrose Place, Beverly Hills, <span>New York City 90210.</span></p> -->
<!-- 				</div> -->
<!-- 				<div class="col-md-4 w3ls_footer_grid_left con"> -->
<!-- 					<div class="wthree_footer_grid_left"> -->
<!-- 						<i class="fa fa-phone" aria-hidden="true"></i> -->
<!-- 					</div> -->
<!-- 					<p>+(000) 123 4565 32 <span>+(010) 123 4565 35</span></p> -->
<!-- 				</div> -->
<!-- 				<div class="col-md-4 w3ls_footer_grid_left con"> -->
<!-- 					<div class="wthree_footer_grid_left"> -->
<!-- 						<i class="fa fa-envelope-o" aria-hidden="true"></i> -->
<!-- 					</div> -->
<!-- 					<p><a href="mailto:info@example.com">info@example1.com</a>  -->
<!-- 						<span><a href="mailto:info@example.com">info@example2.com</a></span></p> -->
<!-- 				</div> -->
<!-- 				<div class="clearfix"> </div> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 	</div> -->
<!-- //contact -->
    <!-- //typo -->
    <!-- footer -->
    <!-- //footer -->
    <!-- menu -->
    <!-- js -->
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/modernizr.custom.46884.js"></script>
    <!-- //js -->
    <!-- password-script -->
    <script type="text/javascript">
        window.onload = function () {
            document.getElementById("password1").onchange = validatePassword;
            document.getElementById("password2").onchange = validatePassword;
        }

        function validatePassword() {
            var pass2 = document.getElementById("password2").value;
            var pass1 = document.getElementById("password1").value;
            if (pass1 != pass2)
                document.getElementById("password2").setCustomValidity("Passwords Don't Match");
            else
                document.getElementById("password2").setCustomValidity('');
            //empty string means no validation error
        }
        //管理员删除时弹出警告
        function showDelMessage(){

        }
    </script>
    <!-- //password-script -->

    <!-- for bootstrap working -->
    <script src="js/bootstrap.js"></script>
    <!-- //for bootstrap working -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".scroll").click(function(event){     
            event.preventDefault();
            $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
    });
</script>
    <!-- start-smoth-scrolling -->
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function() {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear' 
                };
            */
                                
            $().UItoTop({ easingType: 'easeOutQuart' });
                                
            });
    </script>
    <!-- //here ends scrolling icon -->
</body>
</html>