<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>修咻咻维修平台</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link th:href="@{/css/index.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/3.3.7-bootstrap.min.css}" rel="stylesheet"
	type="text/css">
<script th:src="@{/js/my/2.1.1-jquery.min.js}"></script>
<script th:src="@{/js/my/3.3.7-bootstrap.min.js}"></script>

</head>

<body>
	<div class="navbar-header navbar-left">

		<h1>
			<a class="navbar-brand" th:href="@{http://localhost:8080}"><i
				class="fa fa-crosshairs" aria-hidden="true"></i> 修咻咻维修平台</a>
		</h1>

	</div>
	<ul class="agile_forms">
		<li><a class="active" th:href="@{/home}">用户端登录</a></li>
		<li><a class="active" th:href="@{/manager}">管理端登录</a></li>
	</ul>


	<!-- banner-bottom -->
	<div class="banner-bottom">
		<div class="container">
			<div class="mid_agile_bannner_top_info">
				<h2>维修活动展示</h2>
				<div class="heading-underline">
					<div class="h-u1"></div>
					<div class="h-u2"></div>
					<div class="h-u3"></div>
					<div class="clearfix"></div>
				</div>
			</div>
			<!--详细的维修活动 -->
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<td><strong>序号</strong></td>
							<td><strong>活动时间</strong></td>
							<td><strong>举办地点</strong></td>
						</tr>
					</thead>
					<tbody>
						<tr th:each="activity,status : ${activityList}">
							<td th:text="${status.count}">序号</td>
							<td th:text="${activity.time}">时间</td>
							<td th:text="${activity.place}">地点</td>
							<!-- 								<td> -->
							<!-- 									<form  id="applythis" class="ApplyActivity" -->
							<!-- 										th:action="@{makeReservation?method=beforeReserve}" -->
							<!-- 										method="post"> -->
							<!-- 										<button  type="submit" class="">预约此活动</button> -->
							<!-- 									</form> -->
							<!-- 								</td> -->
						</tr>
					</tbody>
				</table>

				<br>
			</div>
			<div class="col-md-6 agileits_banner_bottom_left">
				<h3>
					<span>修咻咻</span>维修平台介绍
				</h3>
				<p class="w3l_para">这是为福大计算机协会维修活动的公告和接受维修预约的一个网站</p>
				<div class="w3l_social_icons">
					<div class="w3l_social_icon_grid w3ls_social_icon_grid">
						<div class="w3l_social_icon_gridl w3_dribbble">
							<a th:href="@{#}"> <i class="fa fa-dribbble"
								aria-hidden="true"></i>
							</a>
						</div>
						<div class="w3l_social_icon_gridr">
							<p>服务人次超过</p>
							<p class="counter" th:text="${reservationCount}">332</p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="w3l_social_icon_grid">
						<div class="w3l_social_icon_gridl w3_instagram">
							<a th:href="@{#}"> <i class="fa fa-instagram"
								aria-hidden="true"></i>
							</a>
						</div>
						<div class="w3l_social_icon_gridr">
							<p>维修设备数多于</p>
							<p class="counter" th:text="${serviceEquipmentCount}">342</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<div class="col-md-6 agileits_banner_bottom_right">
				<div class="w3ls_banner_bottom_right">
					<img th:src="@{images/2.jpg}" alt=" " class="img-responsive" />
					<div class="w3ls_banner_bottom_right_pos">
						<img th:src="@{images/1.jpg}" alt=" " class="img-responsive" />
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	
	

	<div th:replace="home/messageOrErr :: messageOrErr"></div>
</body>
</html>