<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
	<!-- 导航栏 -->
	<div th:fragment="navbar">
		<nav class="navbar navbar-default">
			<div class="navbar-header navbar-left">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<h1>
					<a class="navbar-brand" th:href="@{/home}"><i
						class="fa fa-crosshairs" aria-hidden="true"></i> 修咻咻维修平台</a>
				</h1>

			</div>
			<ul class="agile_forms">
				<li><a class="active" href="#" data-toggle="modal"
					data-target="#myModal2" id="login"
					th:style="'display:' + @{(${session.user} ? 'none' : 'block')} ">登录</a></li>
				<li><a href="#" data-toggle="modal" data-target="#myModal3"
					id="register"
					th:style="'display:' + @{(${session.user} ? 'none' : 'block')} ">
						注册</a></li>
				<li><a href="#" data-toggle="modal" data-target="#myModal6"
					id="exit"
					th:style="'display:' + @{(${session.user} ? 'block' : 'none')} ">退出登录</a></li>
			</ul>


			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-right"
				id="bs-example-navbar-collapse-1">
				<nav>
					<ul class="nav navbar-nav">
						<li><a href="/home" class="hvr-underline-from-center">首页</a></li>
						<li><a href="/reservation/step1" id="appaly"
							class="hvr-underline-from-center"
							th:style="'display:' + @{(${session.user} ? 'block' : 'none')} ">预约</a></li>
						<li><a href="/article" class="hvr-underline-from-center">文章&通知</a></li>
						<li class="dropdown"><a id="my_message" href="#"
							class="dropdown-toggle hvr-underline-from-center"
							data-toggle="dropdown"
							th:style="'display:' + @{(${session.user} ? 'block' : 'none')} ">我的<b
								class="fa fa-caret-down"></b></a> <!--这里判断session -->
							<ul class="dropdown-menu agile_short_dropdown text-center"
								th:object="${session.user}" th:unless="${session.user == null}">
								<li><p th:text="'姓名:'+*{name}" class="center-block">姓名</p></li>
								<li><p th:text="'学号:'+*{studentId}">学号</p></li>
								<li><p th:text="'手机号:'+*{phoneNumber}">手机号</p></li>
								<li><p th:text="'住址:'+*{address}">住址</p></li>
								<li><p>邮箱:</p></li>
								<li><p th:text="*{email}">邮箱</p></li>
								<li><a class="active" data-toggle="modal"
									data-target="#changeinfo-data" href="#" id="update">修改个人信息</a></li>
								<li><a class="active" data-toggle="modal"
									data-target="#myDevice-data" href="#" id="device">我的设备</a></li>
								<li><a class="active" href="MyReservationManageServlet"
									id="appointment">预约管理</a></li>
							</ul></li>
					</ul>
				</nav>
			</div>

			<!-- 登录弹窗 -->
			<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">

				<div class="modal-dialog">
					<!-- Modal content -->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<div class="signin-form profile">
								<h3 class="agileinfo_sign">登录</h3>
								<div class="login-form">
									<form class="loginForm" action="student/login" method="post">
										<input name="phoneNumber" placeholder="手机号" type="text"
											required="required"> <input type="password"
											name="password" placeholder="密码" required="required">
										<div class="tp">
											<input type="submit" value="登录">
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- 注册弹窗 -->
			<div class="modal fade" id="myModal3" tabindex="-1" role="dialog">
				<div class="modal-dialog">
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>

							<div class="signin-form profile">
								<h3 class="agileinfo_sign">注册</h3>
								<div class="register-form">
									<form class="registerForm" action="student/register"
										method="post">
										<input id="register-name" type="text" name="name"
											placeholder="姓名" required="required"> <input
											id="address" type="text" name="address"
											placeholder="地址(例如：1#101)" required="required"> <input
											id="register-phoneNumber" type="text" name="phoneNumber"
											placeholder="手机号码" required="required">
											<input
											id="register-email" type="text" name="email"
											placeholder="邮箱" required="required">
<!-- 										<table> -->
<!-- 											<tr> -->
<!-- 												<td align="center" hidden><span id="tip">请输入收到的验证码</span></td> -->
<!-- 											</tr> -->
<!-- 											<tr> -->
<!-- 												<td width="100%"><input type="text" name="code" -->
<!-- 													class="txtinput" id="code" placeholder="验证码" -->
<!-- 													required="required" /></td> -->
<!-- 												<td> -->
<!-- 												<input type="button" class="btn" -->
<!-- 													onclick="settime(this)" value="获取验证码"> -->
<!-- 												</td> -->
<!-- 											</tr> -->
<!-- 										</table> -->
										<input id="password1" type="password" name="passWord"
											placeholder="密码" required="required"> 
										<input id="password2" type="password" name="passWord2" 
											placeholder="确认密码" required="required"> 
										<button	 onclick="validateInput()"  type="submit">注册</button>
									</form>
								</div>

							</div>
						</div>
					</div>
				</div>
				<!-- 重复密码验证的js  -->
				<script type="text/javascript"
					src="/js/my/verify-input.js"></script>
				<!-- 使用ajax动态发送短信 -->
<!-- 				<script type="text/javascript" -->
<!-- 					src="js/my/send-code-ajax.js"></script> -->
			</div>

			<!-- 退出登录弹窗 -->
			<div class="modal fade" id="myModal6" tabindex="-1" role="dialog">
				<div class="modal-dialog">
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>

							<div class="signin-form profile">
								<h3 class="agileinfo_sign">是否退出登录？</h3>
								<div class="login-form">
									<form action="student/exit" method="post">
										<input type="submit" value="确定">
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- 个人信息修改弹出页窗内容 -->
			<div class="modal" id="changeinfo-data" tabindex="-1" role="dialog"
				aria-labelledby="mySmallModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<form role="form" action="student/edit" method="post"
							class="registration-form">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">
									<span aria-hidden="true">×</span><span class="sr-only">Close</span>
								</button>
								<h4 class="modal-title">个人信息修改</h4>
							</div>
							<div class="modal-body" th:object="${session.user}"
								th:unless="${session.user == null}">
								<!-- Top content -->
								<div class="top-content">
									<div class="row">
										<div class="col-sm-8 col-sm-offset-2 text">
											<div class="description">
												<h3 th:text="*{phoneNumber}" class="text-center">电话</h3>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-6 col-sm-offset-3 form-box">
											<div class="table-responsive">
												<table class="table">
													<tr>
														<td>姓名</td>
														<td><input type="text" name="name" th:value="*{name}"
															class="form-control"></td>
													</tr>
													<tr>
														<td>学号</td>
														<td><input type="text" name="studentId"
															th:value="*{studentId}" class="form-control"></td>
													</tr>
													<tr>
														<td>邮箱</td>
														<td><input type="text" name="email"
															th:value="*{email}" class="form-control"></td>
													</tr>
													<tr>
														<td>地址</td>
														<td><input type="text" name="address"
															th:value="*{address}" class="form-control"></td>
													</tr>
												</table>
											</div>
										</div>
									</div>
								</div>

							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default"
									data-dismiss="modal">关闭</button>
								<button type="submit" class="btn btn-success">确认修改</button>
							</div>
						</form>
					</div>
				</div>
			</div>

			<!-- 看要不要改变按钮的样式，要按钮变方的话就引用新的3.37版本的bootstrap -->
			<!-- <link -->
			<!-- 	href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" -->
			<!-- 	rel="stylesheet"> -->
			<!-- 注意！！该文档别删除或增加行，用了dom的元素查找，有点迷~ -->
			<!-- 我的设备管理弹出页窗内容 -->
			<div class="modal" id="myDevice-data" tabindex="-1" role="dialog"
				aria-labelledby="mySmallModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">
								<span aria-hidden="true">×</span><span class="sr-only">Close</span>
							</button>
							<h4 class="modal-title">我的设备管理</h4>
						</div>
						<div class="modal-body">
							<!-- Top content -->
							<div class="top-content text-center" th:unless="${session.user== null}">
								<div th:each="equipment: ${session.user.equipmentList}" >
									<form class="form-inline" role="form"
										action="student/equipmentEdit"
										method="post">
										<input type="text" th:value="${equipment.id}" name="equipmentId" style="display:none">
										<input type="text" class="form-control"
											th:value="${equipment.equipmentName}" name="equipmentName"
											disabled="disabled">
										<button type="button" class="btn btn-success"
											th:onclick="'changeDisabled(this,'+${equipment.id}+')'" style="padding:0 13px">修改</button>
										<button type="button" class="btn btn-danger"
											onclick="del(this)">删除</button>

									</form>
									<br>
								</div>

								<form id="equipment-form-add" class="form-inline asd" role="form"
									action="student/addEquipment" method="post"
									style="display: none">
									<input type="text" class="form-control" name="equipmentName">
									<button type="submit" class="btn btn-info">确认添加</button>
									<button type="button" class="btn btn-default"
										onclick="removeInput()">取消</button>
								</form>
								<br>
								<button class="btn btn-info btn-lg" type="button"
									onclick="addInput()">
									<span class="glyphicon glyphicon-plus">添加设备</span>
								</button>
							</div>

						</div>
						<div class="modal-footer">
							<button type="button" class="btn" data-dismiss="modal">关闭</button>
						</div>
					</div>
				</div>
				<!-- 个人设备管理弹窗页按钮动态变化的js  -->
				<script type="text/javascript"
					src="/js/my/my-equipment-management.js"></script>
			</div>


		</nav>
	</div>

</body>
</html>