<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet"
	href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script
	src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body>
	<div id="page1"></div>
	<div id="page2"></div>
	<div id="page3"></div>
	<div id="page4"></div>
	<script>
		$("#page1").load("/home");
		$("#page2").load("Register.html");
		$("#page3").load("Register");
		$("#page4").load("student/Register");
	</script>

	<div th:fragment="navbar">


		<!-- 导航栏 -->
		<nav class="navbar navbar-default">
			<div class="navbar-header navbar-left">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<h1>
					<a class="navbar-brand" href="http://localhost:8080"><i
						class="fa fa-crosshairs" aria-hidden="true"></i> 修咻咻维修平台</a>
				</h1>

			</div>
			<ul class="agile_forms">
				<li><a class="active" href="#" data-toggle="modal"
					data-target="#myModal2" id="login">登录</a></li>
				<li><a href="#" data-toggle="modal" data-target="#myModal3"
					id="register"> 注册</a></li>
				<li><a href="#" data-toggle="modal" data-target="#myModal6"
					id="exit">退出登录</a></li>
			</ul>


			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-right"
				id="bs-example-navbar-collapse-1">
				<nav>
					<ul class="nav navbar-nav">
						<li><a href="/home" class="hvr-underline-from-center">首页</a></li>
						<li><a href="预约.jsp" id="appaly"
							class="hvr-underline-from-center">预约</a></li>
						<li><a href="ArticleServlet?type=list"
							class="hvr-underline-from-center">文章&通知</a></li>
						<li class="dropdown"><a id="my_message" href="#"
							class="dropdown-toggle hvr-underline-from-center"
							data-toggle="dropdown">我的<b class="fa fa-caret-down"></b></a>
							<ul class="dropdown-menu agile_short_dropdown"
								th:object="${session.user}" th:unless="${session.user == null}">
								<li><p th:text="*{name}">姓名:</p></li>
								<li><p th:text="*{studentId}">学号</p></li>
								<li><p th:text="*{phoneNumber}">手机号</p></li>
								<li><p th:text="*{address}">住址</p></li>
								<li><p th:text="*{email}">邮箱</p></li>
								<li><a class="active" data-toggle="modal"
									data-target="#changeinfo-data" href="#" id="update">修改个人信息</a></li>
								<li><a class="active" data-toggle="modal"
									data-target="#myDevice-data" href="#" id="device">我的设备</a></li>
								<li><a class="active" href="MyReservationManageServlet"
									id="appointment">预约管理</a></li>
							</ul></li>
					</ul>
				</nav>
			</div>

			<!-- 登录弹窗 -->
			<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">

				<div class="modal-dialog">
					<!-- Modal content -->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<div class="signin-form profile">
								<h3 class="agileinfo_sign">登录</h3>
								<div class="login-form">
									<form class="loginForm" action="student/login" method="post">
										<input id="phoneNumber" name="phoneNumber" placeholder="手机号"
											type="text" required="required"> <input id="password"
											type="password" name="password" placeholder="密码"
											required="required">
										<div class="tp">
											<input type="submit" value="登录">
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- 注册弹窗 -->
			<div class="modal fade" id="myModal3" tabindex="-1" role="dialog">
				<div class="modal-dialog">
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>

							<div class="signin-form profile">
								<h3 class="agileinfo_sign">注册</h3>
								<div class="register-form">
									<form class="registerForm"
										action="student/register" method="post">
										<input id="name" type="text" name="name" placeholder="姓名"
											required="required"> <input id="phoneNumber"
											type="text" name="phoneNumber" placeholder="手机号码"
											required="required"> <input id="address" type="text"
											name="address" placeholder="地址(例如：1#101)" required="required">
										<input id="passWord" type="password" name="passWord"
											placeholder="密码" required="required"> <input
											type="password" name="passWord2" id="passWord2"
											placeholder="确认密码" required="required"> <input
											type="submit" value="注册">
									</form>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>


			<!-- 退出登录弹窗 -->
			<div class="modal fade" id="myModal6" tabindex="-1" role="dialog">
				<div class="modal-dialog">
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>

							<div class="signin-form profile">
								<h3 class="agileinfo_sign">是否退出登录？</h3>
								<div class="login-form">
									<form action="StudentServlet?type=exit" method="post">
										<input type="submit" value="确定">
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


		</nav>
	</div>


	<script type="text/javascript">
		function hide1() {
			jQuery(document).ready(function($) {
				$("#exit").toggle(function() {
					$(this).hide();
				});
				$("#my_message").toggle(function() {
					$(this).hide();
				});
				$("#appaly").toggle(function() {
					$(this).hide();
				});
				$("#applythis").toggle(function() {
					$(this).hide();
				});
			});
		}
		<script type="text/javascript">
		function hide2() {
			jQuery(document).ready(function($) {
				$("#login").toggle(function() {
					$(this).hide();
				});
				$("#register").toggle(function() {
					$(this).hide();
				});
			});
		}
	</script>

</body>
</html>
